.login-panel {
  height: 85vh;
  margin-top: 2rem;

  flex-direction: column;
}

#login-logo {
  max-width: 8rem;
  max-height: 8rem;
  margin-top: 50px;
}
.login-logo_grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  margin-top: 2rem;
  width: 50%;
}

.form-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 100%;
  }
}
